@mixin lg-yellow-btn {
  width: 100% !important;
  color: #fff !important;
  background-color: #FFC700 !important;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../../images/pointsBtns.svg");
}
