.progress {
  .diagram-main {
    display: flex;
    .diagram-y-scale {
      margin-right: 2px;
      margin-top: -5px;
      text-align: right;
      min-width: 23px;
      font-weight: 700;
    }
    .diagram-container {
      width: 100%;
      .diagram {
        width: 100%;
        height: 35vh;
        border-left: 3px solid #212121;
        border-bottom: 3px solid #212121;
        position: relative;
        .diagram-days {
          position: absolute;
          bottom: 0;
          display: flex;
          width: 100%;
          transition: height;
          .day-parent {
            position: relative;
            transform: rotate(180deg);
            .diagram-answer-wrong {
              transition: all 0.5s ease;
              background: #dc1212;
            }
            .diagram-answer-skipped {
              transition: all 0.5s ease;
              background: #89838f;
            }
            .diagram-answer-correct {
              transition: all 0.5s ease;
              background: #2ee56b;
            }
            .diagram-day-info {
              position: absolute;
              z-index: 9;
              left: 50%;
              transform: translateX(-45%);
              top: 7px;
              padding: 5px;
              -webkit-backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
              backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
              box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
              border-radius: 6px;
              background: #fff;
              width: 90px;
              display: none;
              .diagram-day-info-slag {
                position: absolute;
                top: -3px;
                right: 45px;
                display: inline-block;
                width: unset;
                height: unset;
                transform: rotate(135deg);
                border-bottom: 20px solid #fff;
                border-right: 20px solid transparent;
              }
              .diagram-day-date {
                font-size: 12px;
                transform: rotate(180deg);
                margin: 0;
                text-align: center;
              }
              .diagram-statuses {
                display: flex;
                justify-content: space-between;
                .diagram-day-status {
                  transform: rotate(180deg);
                  display: inline-flex;
                  align-items: center;
                  p {
                    font-size: 12px;
                    margin: 0;
                  }
                  .status-point {
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    margin-right: 2px;
                    &.point-correct {
                      background: #2EE56B;
                    }
                    &.point-skipped {
                      background: #89838f;
                    }
                    &.point-wrong {
                      background: #dc1212;
                    }
                  }
                }
              }
              &.diagram-day-info-last {
                left: 0;
                transform: unset;
                .diagram-day-info-slag {
                  right: calc(100% - 26px);
                  &.info-slag-for-month {
                    right: calc(100% - 20px);
                    top: -6px;
                    transform: unset;
                  }
                }
              }
            }
            &:hover {
              position: relative;
              z-index:100 !important;
              .diagram-day-info {
                display: block;
              }
            }
          }
        }
      }
      .diagram-x-scale {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
      }
    }
  }
  .progress-week-months {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    .button {
      text-transform: capitalize;
      font-family: "Rubik", sans-serif;
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      color: #8419ff;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #8419ff;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      &.opacity-1:after {
        opacity: 1;
      }
    }
    span {
      text-transform: capitalize;
      font-family: "Rubik", sans-serif;
      font-size: 18px;
      padding: 0 5px;
      margin-top: 2px;
      font-weight: 500;
    }
  }
  .next-prev-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .button {
      min-width: 100px;
      text-transform: capitalize;
      font-family: "Rubik", sans-serif;
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      color: #8419ff;
    }
  }
  .info-about-diagram {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .info-status-quantity {
      margin: 0;
      text-align: center;
      font-family: "Rubik", sans-serif;
      font-size: 18px;
      height: 27px;
      &.quantity-correct {
        color: #2EE56B;
      }
      &.quantity-skipped {
        color: #89838f;
      }
      &.quantity-wrong {
        color: #dc1212;
      }
    }
    .info-status-block {
      display: flex;
      align-items: center;
      .point {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        &.point-correct {
          background: #2EE56B;
        }
        &.point-skipped {
          background: #89838f;
        }
        &.point-wrong {
          background: #dc1212;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}
