.toolbar-inner {
  position: relative;

  .link {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 48px;
    padding: 0;

    &.active {
      .link-title {
        color: #8419ff;
      }
    }

    &::before {
      display: none;
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      text-align: center;
    }

    .link-title {
      color: #777481;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
