.main-menu {
  margin-bottom: 0;

  ul {
    height: calc(100vh - 88px);

    li {
      &.hg-position-bottom {
        top: auto;
        bottom: 0;
        position: absolute;
      }

      .link {
        color: var(--f7-bars-text-color);
      }
    }
  }
}
