.notifications {
  .notifications-list {
    margin: 0 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;

    ul {
      &::before,
      &::after {
        display: none;
      }

      li {
        & + li {
          margin-top: 30px;
        }
      }

      .item-content {
        padding: 0;
      }

      .item-inner {
        flex-direction: column;
        gap: 6px;
        padding: 0;
        font-size: 14px;
        line-height: 17px;

        &::after {
          display: none;
        }

        .item-title {
          white-space: unset;
          display: flex;
          align-items: baseline;
          gap: 8px;
          width: 100%;
          margin: 0;
          font-weight: 500;
        }

        .item-text {
          margin: 0;
          font-weight: 400;
          opacity: 0.5;
        }

        .item-date {
          margin: 0;
          align-self: end;
          opacity: 0.5;
        }
      }
    }
  }

  .welcome-block {
    margin: 0;
    padding: 0;

    .title {
      margin-bottom: 6px;
      padding: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }

    .text {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      opacity: 0.5;
    }
  }
}
