.popup-swipe {
  --f7-navbar-height: 56px;
  --f7-block-padding-horizontal: 12px;
  .navbar-bg {
    background: #8419FF url("@/assets/images/pointsRight.svg") no-repeat right top 6px;
  }
  .navbar-inner {
    .left {
      padding-left: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}
