.popup-swipe {
  .navbar-bg {
    background: #8419FF url("@/assets/images/pointsRight.svg") no-repeat right top 6px;
  }
  .navbar-inner {
    color: #fff;
    .left {
      padding-left: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}

