.success-popup-background {
  position: fixed;
  top: 0;
  z-index: 6000;
  height: 100vh;
  width: 100%;
  background: rgba(33, 33, 33, 0.7);

  .success-popup-body {
    padding: 30px;
    width: 342px;
    border-radius: 8px;
    background: #fff;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .success-popup-date {
      position: absolute;
      top: 10px;
      margin: 0;
      opacity: 0.5;
      font-family: Rubik, sans-serif;
      font-size: 14px;
    }

    .block-title {
      overflow: unset;
      text-overflow: unset;
      white-space: unset;
      margin: 0;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #212121;
    }

    .close-icon {
      all: unset;
      position: absolute;
      top: 15px;
      right: 15px;
      display: grid;
      place-items: center;
      width: 15px;
      height: 15px;
    }

    .button {
      text-transform: unset;
      margin-top: 30px;
      padding: 10px;
      width: 100%;
      background: #8419ff;
      border-radius: 6px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
}
