.logout-popup {
  .item-input-wrap {
    input {
      &:after {
        display: none !important;
      }
    }
  }
  .logout-popup-header {
    margin: 0;
    position: relative;
    .link {
      &.x-icon {
        all: unset;
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 90;
      }
    }
    .block-title {
      margin: 0;
      padding: 70px 0 0 0;
      text-align: center;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #212121;
    }
  }
  .list {
    height: calc(100vh - 400px);
    padding: 0 16px 30px 16px;
    .custom-list-input {
      height: 81px;
      .item-content {
        padding: 0 !important;
      }
      .item-inner {
        margin: 0;
        input {
          height: 36px !important;
        }
        padding: 0 !important;
        &:after {
          display: none;
          background: #212121 !important;
        }
        .item-label {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
          color: #212121;
        }
      }

      .item-input-wrap {
        height: 58px;

        &.item-input-focused {
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          transform: unset !important;
          bottom: 9px !important;
          width: 100% !important;
          height: 0.9px !important;
          background: #212121 !important;
        }

        .item-input-error-message {
          position: relative !important;
          top: 0;
          margin-top: 10px !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .logout-popup-footer-block {
    margin: 0;
    height: 130px;
    background-color: #fff;
    display: block;
    width: 100%;
    .delete-btn {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      height: unset;
      padding: 10px;
      line-height: 24px;
      background: #212121;
      opacity: 0.3;
      border-radius: 6px;
      color: #fff;
      text-transform: none;
    }
    .save-btn {
      font-family: 'Rubik';
      height: unset;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      padding: 10px;
      line-height: 24px;
      background: #8419FF;
      border-radius: 6px;
      color: #fff;
      text-transform: none;
    }
    .error-message {
      color: red;
      text-align: center;
      font-size: 12px;
      font-family: "Rubik";
    }
  }

}
.profile-account-page {
  .date-popup {
    position: fixed;
    z-index: 100;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(33, 33, 33, 0.7);
    .vc-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .profile-account {
    margin-bottom: -30px;
    .main-list {
      overflow-y: auto;
      margin: 0 -24px;
      padding: 0 24px;
      height: calc(100vh - 346px);
      .custom-list-input {
        height: 81px;
        .item-content {
          padding: 0 !important;
        }
        .item-inner {
          margin: 0;
          input {
            height: 36px !important;
          }
          padding: 0 !important;
          &:after {
            display: none;
            background: #212121 !important;
          }
          .item-label {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #212121;
          }
        }

        .item-input-wrap {
          height: 68px;

          &.item-input-focused {
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            transform: unset !important;
            bottom: 9px !important;
            width: 100% !important;
            height: 0.9px !important;
            background: #212121 !important;
          }

          .item-input-error-message {
            position: relative !important;
            top: 0;
            margin-top: 20px !important;
            margin-bottom: 0 !important;
          }
        }
      }
      ul {
        padding: 0;
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
        .item-inner {
          padding: 0 !important;

          &:after {
            display: none;
          }
        }
        .item-input {

          &.item-input-focused {
            &:not(.item-input-outline) {
              .item-input-wrap {
                &:after {
                  transform: unset !important;
                  height: 0.9px !important;
                  background: #E4E4E4 !important;
                }
              }
            }
          }

          &:not(.item-input-outline) {
            .item-input-wrap {
              &:after {
                transform: unset !important;
                height: 0.9px !important;
                background: #E4E4E4 !important;
              }
            }
          }
          .item-media {
            min-width: 0 !important;
            width: 0;
          }
        }

        .eye-icons {
          position: absolute;
          top: 20px;
          z-index: 40;
          right: 0;
        }
      }
      .log-out-btn {
        all: unset;
        p {
          margin-top: 8px;
          margin-bottom: 31px;
          text-align: center;
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #8419FF;
        }
      }
      .class-options {
        position: absolute;
        bottom: -10px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E4E4E4;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 8px;
        max-height: 140px;
        overflow-y: auto;
        .button {
          all: unset;
          p {
            border-radius: 5px;
            margin: 0;
            padding: 8px;
            &:hover {
              background-color: #F1E5FF;
            }
          }
        }

      }
    }
    .courses-list  {
      display: block;
      width: calc(100vw - 48px);
      max-height: 150px;
      overflow: auto;
      position: absolute;
      z-index: 95;
      padding: 8px;
      border: 1px solid #E4E4E4;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      background: #fff;
      .button {
        all: unset;
        display: block;
        padding: 8px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #212121;
        border-radius: 5px;
        &:hover {
          background: #F1E5FF;
        }
      }
    }
    .save-btn-block {
      background: #fff;
      display: block;
      width: 100%;
      margin: 0;
      z-index: 50;
      padding: 0px;
      .error-message {
        min-height: 28px;
        margin: 5px 0 0 0;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FF0000;
      }
      .button-save {
        margin-top: auto;
        width: 100% !important;
        color: #fff !important;
        background-color: #FFC700 !important;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url("../../images/pointsBtns.png");
        &.button-disabled-fill {
          opacity: 0.5;
        }
      }
    }
  }
}
