.hg-practice-page {
  .page-content {
    display: flex;
    flex-direction: column;
    .list {
      margin: 0;
      padding: 10px 24px;
      flex: 1;
      ul {
        &:before {
          display: none;
        }
        .item-content {
          padding-left: 0;
          padding-right: 0;
          .item-inner {
            padding-top: 20px;
            padding-bottom: 20px;
            display: unset;
            .item-title {
              .row {
                margin-top: 1px;
                width: 100%;
                .points {
                  all: unset;
                  font-family: 'Rubik';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  color: #8419FF;
                }
                .question {
                  all: unset;
                  font-family: 'Rubik';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 22px;
                  span {
                    text-transform: capitalize;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
