@import "../mixins/lg-yellow-btn";

.hg-practice-page {
  .page-content {
    display: flex;
    flex-direction: column;

    .list, .block {
      background: #fff;
      margin: 0;
      flex: 1;

      &.can-practice {
        display: grid;
        place-items: center;

        .can-practice-content {
          text-align: center;
        }

        .can-practice-title {
          margin-bottom: 9px;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }

        .can-practice-subtitle {
          margin-bottom: 40px;
          font-size: 12px;
          line-height: 14px;
          opacity: 0.9;
        }

        .can-practice-btn {
          @include lg-yellow-btn;
          display: block;
          height: auto;
          padding: 16px 0;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          text-transform: unset;
          background-image: url("../../images/pointsBtns.svg");
        }
      }

      ul {
        &:before {
          display: none;
        }

        .item-content {
          padding-left: 0;
          padding-right: 0;

          .item-inner {
            padding-top: 20px;
            padding-bottom: 20px;
            display: unset;

            .item-title {
              .row {
                margin-top: 1px;
                width: 100%;

                .points {
                  all: unset;
                  font-family: 'Rubik', sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  color: #8419FF;
                }

                .question {
                  all: unset;
                  font-family: 'Rubik', sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 22px;

                  span {
                    text-transform: capitalize;
                  }
                }
              }
            }
          }
        }
      }
    }

    .score-block-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100% - 68px);
      padding-top: 68px;
    }

    .score-blocks {
      flex: 1
    }

    .score-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 26px 20px;
      background: rgba(#F1E5FF, 0.2);
      border-radius: 8px;

      & + .score-block {
        margin-top: 10px;
      }

      .block-title {
        margin: 0;
        color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }

      .place-txt {
        margin: 0;
        color: #8419FF;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.9;
      }

      .from-txt, .result-txt {
        margin: 0;
        color: #212121;
        font-size: 10px;
        line-height: 12px;
        opacity: 0.9;
      }

      .from-txt {
        font-weight: 300;
      }

      .result-txt {
        font-weight: 400;
      }
    }
  }
}
