.profile-sound {
  .list {
    margin-top: -20px;
    ul {
      &:before {
        display: none !important;
      }
      .item-content {
        margin-top: 10px;
        padding-left: 0;
        padding-right: 0;
        height: 20px;
        .item-inner {
          min-height: unset !important;
          padding: 0;
          display: unset;
          .item-title {
            .info-title {
              all: unset;
              font-family: 'Rubik';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
            }
            .sound-volume {
              margin-top: 30px;
            }
            .volume {
              -webkit-appearance: none;
              height: 10px;
              background: #d3d3d3;
              outline: none;
              border-radius: 10px;
              -webkit-transition: .2s;
              transition: opacity .2s;
            }
            .volume::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #8419ff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}