.profile-form {
  input:read-only {
    pointer-events: none;
  }

  .date-input {
    &.disabled {
      opacity: 1 !important;
    }
  }

  .courses-input .list {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  .courses-input .list ul {
    padding-left: 0;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.75);
  }
}

.calendar-sheet {
  height: auto;

  :deep(.vc-container) {
    width: 100%;
    border: none;
  }

  :deep(.vc-popover-content-wrapper) {
    width: 100%;
  }

  :deep(.vc-nav-items) {
    justify-items: center;
  }
}
