.profile-form {
  input:read-only {
    pointer-events: none;
  }

  .date-input {
    &.disabled {
      opacity: 1 !important;
    }
  }
}

.calendar-sheet {
  height: auto;

  :deep(.vc-container) {
    width: 100%;
    border: none;
  }
}
