@import "../mixins/footer-button";

.navbar {
  &.players-machine {
    .navbar-inner {
      position: unset;
      padding: 40px 24px 30px 30px;

      .left {
        margin-right: 18px;

        a {
          width: unset;
          padding: 0;

          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .navbar-bg {
    background: #fff;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  .navbar-inner {
    .left {
      margin-right: 16px;

      .back {
        i {
          margin-top: 7px;

          &:after {
            content: 'chevron_left_ios';
            color: #212121;
            font-size: 13px !important;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
          }

          &:before {
            display: none !important;
          }
        }

        span {
          display: none;
        }
      }
    }

    .title {
      font-family: Poppins !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      position: unset !important;
      margin-left: 0 !important;
      margin-right: auto !important;
      text-align: left;
      white-space: unset;
    }
  }
}

.hg-question-page {
  .page-content {
    display: flex;
    flex-direction: column;
  }

  .circles {
    display: flex;
    gap: 16px;
    max-width: 100%;
    margin: 12px 24px 0 24px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #F0EBF5;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &.machine-player-circle {
      margin-top: 30px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .page-content {
    background: #fff !important;

    .block-title {
      font-family: Rubik;
      color: #212121;
      white-space: pre-line;

      span {
        display: inline-block;
      }
    }

    .block-header {
      margin: 50px 0 20px 0;
      font-family: Rubik;
      font-size: 20px;
      color: #212121;
    }
  }

  .timer-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

    .custom-gauge-content {
      padding-top: 64px;
    }

    .amount {
      color: #8419FF;
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;;
    }
  }

  .scores-block {
    position: relative;
    margin: 0;
    padding: 20px 24px;

    .rival-state {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
    }

    .block {
      margin: unset;
      border-radius: 8px;
      padding: 15px 10px;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      width: calc(50% - 10px);
      display: flex;
      align-items: center;
      text-align: center;
      opacity: 0.9;

      &.machine-score {
        margin-left: 20px;
        border: 1px solid #8419FF;
        background: #fff;
        color: #8419FF;
      }

      &.my-score {
        background: #8419FF;
        color: #fff;
      }

      span {
        font-weight: bold;

        &.nickname {
          max-width: 128px;
          font-weight: 400;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  .player-machine-questions-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 240px);
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    padding-bottom: 30px;

    .block-title {
      border-top: 1.5px solid #F0EBF5;
      margin: 0 24px;
      padding: 20px 0;
    }

    .list-wrapper {
      position: relative;
    }

    .rival-loader {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: grid;
      place-items: center;
      background-color: rgba(255,255,255, 0.3);
      z-index: 50;

      .loader-circle {
        width: 24px;
        height: 24px;
        border: 4px solid rgba(132, 25, 255, 0.2);
        border-top: 4px solid #8419FF;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
    }

    .list {
      padding: 0 24px !important;

      ul {
        &:before {
          display: none;
        }

        &:after {
          display: none;
        }

        li {
          border: 1.5px solid #F0EBF5;
          border-radius: 8px;
          margin-bottom: 16px;
          height: 52px;

          .item-content {
            padding: 0;
            min-height: unset;

            .item-inner {
              padding: 0;

              &:after {
                display: none;
              }

              .col {
                display: flex;
                align-items: center;
                width: 100%;
                border-radius: 8px;
                padding: 0 16px;
                height: 52px;

                .list-number {
                  font-family: Rubik;
                  color: #212121;
                  opacity: 0.4;
                  margin-right: 6px;
                }
              }
            }

            i {
              display: none;
            }
          }

          &.hg-correct-rival-answer {
            padding: 3px;
            border-color: #2EE56B;

            .item-inner {
              all: unset;
              display: flex;
              width: 100%;
              max-height: 44px;

              .col {
                padding: 0 12px;
                height: 44px;
              }
            }
          }

          &.hg-wrong-rival-answer {
            padding: 3px;
            border-color: #FF0000;

            .item-inner {
              all: unset;
              display: flex;
              width: 100%;
              max-height: 44px;

              .col {
                padding: 0 12px;
                height: 44px;
              }
            }
          }
        }
      }
    }
  }

  .questions-content {
    height: calc(100vh - 125px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 30px;

    .block-title {
      margin: 28px 24px;
    }

    .list {
      padding: 0 24px !important;

      ul {
        &:before {
          display: none;
        }

        &:after {
          display: none;
        }

        li {
          border: 1.5px solid #F0EBF5;
          border-radius: 8px;
          margin-bottom: 16px;
          min-height: 52px;
          max-height: 52px;

          .item-content {
            padding-right: 16px !important;

            .item-inner {
              padding: unset;
              min-height: 52px;
              max-height: 52px;

              &:after {
                display: none;
              }

              .col {
                .list-number {
                  font-family: Rubik;
                  color: #212121;
                  opacity: 0.4;
                  margin-right: 6px;
                }
              }
            }

            i {
              display: none;
            }
          }
        }

      }
    }
  }

  .hg-selected-answer {
    color: #fff !important;
    background: #8419FF;

    .list-number {
      color: #fff !important;
      opacity: 1 !important;
    }
  }

  .hg-wrong-answer {
    color: #fff !important;
    background: #FF0000;

    .list-number {
      color: #fff !important;
      opacity: 1 !important;
    }
  }

  .hg-correct-answer {
    color: #fff !important;
    background: #2EE56B;

    .list-number {
      color: #fff !important;
      opacity: 1 !important;
    }
  }

  .question-continue-btn {
    padding: 20px 0;
    text-transform: revert !important;
    text-align: center;
    width: calc(100vw - 48px);
    height: 48px;
    margin: 0 auto;
    color: #fff;
    background-color: #FFC700 !important;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../assets/images/pointsBtns.svg");
  }

  .hg-actions-btns-content {
    padding: 0 16px;
    display: flex;

    .row {
      width: 100%;
      flex-wrap: nowrap !important;
    }

    .button {
      padding: 20px 0;
      text-transform: revert !important;

      &.button-skip {
        min-width: 130px;
        opacity: 0.3 !important;
        border: 1px solid #212121 !important;
        color: #212121 !important;
        width: unset;
        padding-right: 26px;
        padding-left: 26px;
      }

      &.button-submit {
        width: 100% !important;
        margin-left: 14px;
        color: #fff !important;
        background-color: #FFC700 !important;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url("../assets/images/pointsBtns.svg");
      }

      &.button-next {
        width: 100% !important;
        margin-left: 14px;
        color: #fff !important;
        background-color: #FFC700 !important;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url("../assets/images/pointsBtns.svg");
      }

      &.btn-disable {
        opacity: .5;
      }
    }
  }
}

.ios label.item-radio:not(.item-radio-icon-start) input[type='radio'] ~ .icon-radio {
  display: none;
}

.hg-default-btn-width {
  width: 100px;

  &:disabled {
    opacity: 0.6;
  }
}

.all-answered-popup {
  .page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 24px;
    background-image: url("../assets/images/points-bg.svg");
    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  .close-btn {
    all: unset;
    display: grid;
    place-items: center;
    width: 12px;
    height: 12px;
  }

  .content {
    flex: 1;
    display: grid;
    place-items: center;
    align-content: center;
    grid-auto-rows: min-content;
    width: 100%;
  }

  .title {
    margin: 0 0 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    span {
      color: #8419FF;
    }
  }

  .block {
    width: 100%;
    margin: 0 0 40px;
    padding: 26px 20px 24px;
    background: rgba(#f1e5ff, 0.2);
    border-radius: 8px;

    .block-title {
      all: unset;
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      align-items: center;
    }

    .place-txt {
      margin: 0;
      font-family: "Rubik", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #8419ff;
    }

    .from-txt {
      margin-top: 10px;
      margin-bottom: 0;
      color: #212121;
      font-family: "Rubik", sans-serif;
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      opacity: 0.9;
    }
  }

  .footer-button {
    @include footer-button;
    display: block;
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform:rotate(360deg);
  }
}
