@import "@/assets/scss/mixins/form-button.scss";
@import "@/assets/scss/mixins/form-content.scss";
@import "@/assets/scss/mixins/form-title.scss";

.reset-password {
  .page-content {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .custom-list-input {
      height: 68px;
      .item-content {
        padding: 0 !important;
      }

      .item-inner {
        padding: 0 !important;

        &:after {
          display: none;
          background: #212121 !important;
        }
      }

      .item-input-wrap {
        height: 68px;

        &.item-input-focused {
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          transform: unset !important;
          bottom: 26px !important;
          width: 100% !important;
          height: 1px !important;
          background: #212121 !important;
        }

        .item-input-error-message {
          position: relative !important;
          top: 0;
          margin: 3px 0 !important;
        }
      }
    }

    .err-msg {
      color: red;
      font-family: "Rubik";
      height: 17px;
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 0;
      min-height: 14px;
      text-align: center;
    }
    &.login-screen-content {
      @include form-content;

      .login-screen-title {
        @include form-title;
        background-image: url("@/assets/images/points.svg");
        margin-bottom: 30px;
      }
      .block {
        padding: 0;
      }
      .list {
        max-width: unset;
        margin: 0;

        .item-input-with-error-message {
          padding-bottom: 0;

          .item-input-error-message {
            margin-top: 10px;
          }
        }

        .item-media {
          min-width: 0;

          + .item-inner {
            margin-left: 0;
          }
        }
      }

      .item-input {
        &.item-input-focused {
          &:not(.item-input-outline) {
            .item-input-wrap {
              &:after {
                transform: unset !important;
                height: 1px !important;
                background: #212121 !important;
              }
            }
          }
        }

        &:not(.item-input-outline) {
          .item-input-wrap {
            &:after {
              transform: unset !important;
              height: 1px !important;
              background: #212121 !important;
            }
          }
        }
      }

      .here-text {
        color: #212121;
        font-family: Poppins;
        font-weight: bold;
      }

      .button {
        @include form-button;
      }

      .eye-icons {
        position: absolute;
        top: -1px;
        z-index: 999;
        right: 0;
      }
    }
  }
}
