@import "@/assets/scss/mixins/search-popup.scss";

.hg-categories-page,  {

  .page-content {
    display: flex;
    flex-direction: column;
    &>.block {
      margin-top: 0;
    }
  }

  .list {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;

    ul::before,
    ul::after {
      display: none;
    }

    .item-content {
      padding: 0 !important;
      min-height: 60px;

      .item-inner {
        align-items: start;
        padding-right: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        font-family: Rubik, sans-serif;

        &::before {
          display: none;
        }

        .item-title {
          white-space: unset;
          line-height: 22px;

          .text-clamp {
            span {
              display: block;
              font-size: 18px;
              font-weight: 500;
            }
          }

          & > p {
            margin: 0;
          }
        }
      }


      .item-after {
        p {
          color: #8419FF;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin: 0;
        }
      }
    }
  }
}

.admin {
  .list {
    .item-inner {
      flex-direction: column;
      .admin-button {
        text-transform: unset;
        min-height: 40px;
        height: auto;
        padding: 0 20px;
        border-radius: 6px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 16px !important;
        line-height: 24px;
        color: #fff;
        white-space: initial;
        &.generate {
          background: #24f807;
        }
        &.review {
          background: #8419ff;
        }
        &.red {
          background: red;
        }
      }
    }
  }
}

.search-popup {
  --f7-navbar-height: 56px;
  --f7-block-padding-horizontal: 12px;
  @include search-popup;
  .right {
    padding-right: 12px;
  }
  .list {
    margin-top: 20px;
    li {
      .item-content {
        padding: 0;
        min-height: 60px;
        height: unset;
        .item-inner {
          align-items: baseline;
          align-self: unset;
          padding-right: 0 !important;
          padding-top: 20px !important;
          padding-bottom: 20px !important;
          font-family: Rubik, sans-serif;

          &::before {
            display: none;
          }

          .item-title {
            white-space: unset;
            line-height: 22px;
            >span {
              font-size: 14px;
              font-family: 'Rubik';
              display: block;
              margin-bottom: 10px;
            }
            .text-clamp {
              span {
                display: block;
                font-size: 18px;
                font-weight: 500;
              }
            }

            & > p {
              margin: 0;
            }
          }
        }


        .item-after {
          margin-top: auto;
          flex-direction: column;
          text-align: right;
          p {
            color: #8419FF;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
          }
        }
      }
    }

  }

  .loading-for-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    .loading-text {
      display: none;
    }
  }
}
