@import "@/assets/scss/mixins/search-popup.scss";

.hg-categories-page {
  background-color: #fff;

  .page-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .list {
    flex: 1;
    margin-top: 10px;

    ul::before,
    ul::after {
      display: none;
    }

    .item-content {
      padding: 0 24px !important;
      min-height: 60px;

      .item-inner {
        align-items: start;
        padding-right: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        font-family: Rubik, sans-serif;

        &::before {
          display: none;
        }

        .item-title {
          white-space: unset;
          line-height: 22px;

          .text-clamp {
            span {
              display: block;
              font-size: 18px;
              font-weight: 500;
            }
          }

          & > p {
            margin: 0;
          }
        }
      }


      .item-after {
        p {
          color: #8419FF;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin: 0;
        }
      }
    }
  }
}

.search-popup {
  @include search-popup;

  .list {
    .item-content {
      padding: 0;
    }

    //.item-inner {
    //  align-items: flex-end;
    //}

    .item-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      .classes-subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .item-after {
      p {
        margin: 0;
        color: #8419ff;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
