@import "@/assets/scss/mixins/search-popup.scss";

.hg-categories-page,  {
  background-color: #fff;

  .page-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .list {
    flex: 1;
    margin-top: 10px;

    ul::before,
    ul::after {
      display: none;
    }

    .item-content {
      padding: 0 24px !important;
      min-height: 60px;

      .item-inner {
        align-items: start;
        padding-right: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        font-family: Rubik, sans-serif;

        &::before {
          display: none;
        }

        .item-title {
          white-space: unset;
          line-height: 22px;

          .text-clamp {
            span {
              display: block;
              font-size: 18px;
              font-weight: 500;
            }
          }

          & > p {
            margin: 0;
          }
        }
      }


      .item-after {
        p {
          color: #8419FF;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin: 0;
        }
      }
    }
  }
}

.search-popup {
  @include search-popup;

  .list {
    margin-top: 20px;
    li {
      .item-content {
        padding: 0;
        min-height: 60px;
        height: unset;
        .item-inner {
          align-items: baseline;
          align-self: unset;
          padding-right: 0 !important;
          padding-top: 20px !important;
          padding-bottom: 20px !important;
          font-family: Rubik, sans-serif;

          &::before {
            display: none;
          }

          .item-title {
            white-space: unset;
            line-height: 22px;
            >span {
              font-size: 14px;
              font-family: 'Rubik';
              display: block;
              margin-bottom: 10px;
            }
            .text-clamp {
              span {
                display: block;
                font-size: 18px;
                font-weight: 500;
              }
            }

            & > p {
              margin: 0;
            }
          }
        }


        .item-after {
          margin-top: auto;
          flex-direction: column;
          text-align: right;
          p {
            color: #8419FF;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
          }
        }
      }
    }

  }

  .loading-for-search {
    .loading-text {
      display: none;
    }
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
  }
}
