/* Your app custom styles here */
.pac-container {
  z-index: 9999;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.py-8 {
  padding: 8px 0;
}

.text-right {
  text-align: right;
}
