/* Your app custom styles here */
.pac-container {
  z-index: 9999;
}

.inline-block {
  display: inline-block;
}

// spacing
.mr-8 {
  margin-right: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.m-0 {
  margin: 0;
}

.py-12 {
  padding: 12px 0;
}

.py-8 {
  padding: 8px 0;
}

// text

.text-right {
  text-align: right;
}
